
body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: #282621;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
canvas{
  border-radius: 15px;
  margin: 10px 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media screen and (max-width:600px) {
  .cont{
    background-color: #fff;
  }
}
